---
import type { PageInlineFragmentData } from './fragments';

interface Props {
  record: PageInlineFragmentData;
}

const { record } = Astro.props;
---

<a href="/" class="pill">
  {record.title}
</a>
