---
import type { ItemLink } from 'datocms-structured-text-utils';
import type { TransformedMeta } from 'datocms-structured-text-generic-html-renderer';
import type { PageLinkFragmentData } from './fragments';

interface Props {
  node: ItemLink;
  record: PageLinkFragmentData;
  attrs: TransformedMeta;
}

const { record, attrs } = Astro.props;
---

<a {...attrs} href="/" title={record.title}><slot /></a>
