---
import { ResponsiveImage } from '~/components/ResponsiveImage';
import type { ImageGalleryBlockFragmentData } from './fragments';

interface Props {
  block: ImageGalleryBlockFragmentData & {
    id: string;
    __typename: 'ImageGalleryBlockRecord';
  };
}

const { block } = Astro.props;
---

<div class="gallery">
  <div>
    {
      block.assets.map((asset) => (
        <figure>
          {/* Display responsive image for each asset */}
          <ResponsiveImage data={asset.responsiveImage} imgStyle={{ width: 'auto' }} />
          {/* Display title for each asset */}
          <figcaption>{asset.title}</figcaption>
        </figure>
      ))
    }
  </div>
</div>
